<!DOCTYPE html>
<html>
<head>
	
	<title>demo</title>
</head>
<body>
	<div class="container">
	<div>
		{% for x in data %}
		<h3>Name: {{x.name}}</h3>
		<h3>Email: {{x.email}}</h3>

		{% endfor %}
	</div>
</div>
<div class="container-fluid">
<p>
	Note-I: The Commission makes final allotment of posts on the basis of merit-cumpreferences of Posts given by the candidates and once a post is allotted, no change of posts
will be made by the Commission due to non-fulfillment of any post specific requirements of
physical/ medical/ educational standards, etc. In other words, for example if a candidate has
given higher preference for a post and is selected for that post; in that case, if he (hereinafter
may be read as candidature will be rejected and he will not be
considered for other preferences.</p>
</div>
<br>
<div >
<p>Note-II: While giving preference of posts as and when required by the Commission,
the candidates may note that there are a few posts like Inspector (Central Excise/ Examiner/
Preventive Officer), Inspector and Sub-Inspector in CBN (Ministry of Finance), SubInspector/ Junior Intelligence Officer in NCB (MHA), Sub-Inspector in CBI and NIA, UDC
in BRO etc. which have specific requirement of Physical Standards, Physical Tests and
Medical Standards (Details given at Annexure-XVII&Annexure-XVIII). Candidates must
ensure that they fulfill all the requirements of the Posts before giving their preferences/
options for such posts. Measurement of Physical Standards and Physical and Medical Tests
will be conducted by the User Department concerned after final selection and nomination of
candidates to the User Departments.</p>
</div>
<br>
<div>
<p>Note-III: Candidate selected for the post of Assistant Audit Officer/Assistant Accounts
Officer will be allocated to various offices in the Department spread across India based on
number of vacancies required to be filled up through this recruitment, merit order of the
candidate and his preference for a particular State/ UT.
</p>
</div>

</body>
</html>