{% extends 'headerfooter.html' %}

{% block content %}


	<!-- banner-2 -->
	<div class="page-head_agile_info_w3l">

	</div>
	<!-- //banner-2 -->
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="/">Home</a>
						<i>|</i>
					</li>
					<li>product</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->

	<!-- Single Page -->
	<div class="banner-bootom-w3-agileits py-5" style="font-family:timesnewroman" >
		<div class="container py-xl-4 py-lg-2">
			<!-- tittle heading -->
			<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3" style="font-family:timesnewroman" >
				<b>{{x.model_name}}</b></h3>
			<!-- //tittle heading -->
			<div class="row">
				{% for x in prd %}
				<div class="col-lg-5 col-md-8 single-right-left ">
					<div class="grid images_3_of_2">
						<div class="flexslider">
							<ul class="slides">
								<li data-thumb="{{x.img.url}}">
									<div class="thumb-image">
										<img src="{{x.img.url}}" data-imagezoom="true" class="img-fluid" alt=""> </div>
								</li>
								<!-- <li data-thumb="/static/images/s22 1.jpg">
									<div class="thumb-image">
										<img src="/static/images/s22 1.jpg" data-imagezoom="true" class="img-fluid" alt=""> </div>
								</li>
								<li data-thumb="/static/images/s22 2.jpg">
									<div class="thumb-image">
										<img src="/static/images/s22 2.jpg" data-imagezoom="true" class="img-fluid" alt=""> </div>
								</li> -->
							</ul>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>

				<div class="col-lg-7 single-right-left simpleCart_shelfItem">
					<h3 class="mb-3"><b><b>{{x.model_name}}</b></b></h3>
					<p class="mb-3">
						<span class="item_price">&#x20b9 {{x.price}}</span>
						<del class="mx-2 font-weight-light">&#x20b9 {{x.fake_price}}</del>
						<label>Free delivery</label>
					</p>
					
					<div class="product-single-w3l">
						<p class="my-3">
							<!-- <i class="far fa-hand-point-right mr-2"></i> -->
							<label>3 Year</label>Manufacturer Warranty</p>
						<ul>
							<li class="mb-1">
								{{x.specs1}}
							</li>
							<li class="mb-1">
							    {{x.specs2}}

							</li>
							<li class="mb-1">
								{{x.specs3}}
							</li>
							<li class="mb-1">
								{{x.specs4}}
							</li>
							<li class="mb-1">
								{{x.specs5}}
							</li>
						</ul>
						<p class="my-sm-4 my-3">
							<!-- <i class="fas fa-retweet mr-3"></i>Net banking & Credit/ Debit/ ATM card -->
						</p>
					</div>
					<div class="occasion-cart">
						<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
							<form action="/addcart/" method="POST">
								{% csrf_token %}
								<fieldset>
									<input type="hidden" name="pid" value="{{x.id}}" />
									<!-- <input type="hidden" name="add" value="1" />
									<input type="hidden" name="business" value=" " />
									<input type="hidden" name="item_name" value="<b><b>{{x.model_name}}</b></b>" />
									<input type="hidden" name="amount" value="&#x20b9 {{x.price}}" />
									<input type="hidden" name="discount_amount" value="1.00" />
									<input type="hidden" name="currency_code" value="USD" />
									<input type="hidden" name="return" value=" " />
									<input type="hidden" name="cancel_return" value=" " /> -->
									<input type="submit" name="submit" value="Add to cart" class="button" />
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //Single Page -->
{% endfor %}
	<!-- middle section -->
	<!-- <div class="join-w3l1 py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">
			<div class="row">
				<div class="col-lg-6">
					<div class="join-agile text-left p-4">
						<div class="row">
							<div class="col-sm-7 offer-name">
								<h6>Smooth, Rich & Loud Audio</h6>
								<h4 class="mt-2 mb-3">Branded Headphones</h4>
								<p>Sale up to 25% off all in store</p>
							</div>
							<div class="col-sm-5 offerimg-w3l">
								<img src="/static/images/off1.png" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mt-lg-0 mt-5">
					<div class="join-agile text-left p-4">
						<div class="row ">
							<div class="col-sm-7 offer-name">
								<h6>A Bigger Phone</h6>
								<h4 class="mt-2 mb-3">Smart Phones 5</h4>
								<p>Free shipping order over &#x20b9 100</p>
							</div>
							<div class="col-sm-5 offerimg-w3l">
								<img src="/static/images/off2.png" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- middle section -->


{% endblock%}